:root {
    --Inter: 'Inter', sans-serif;
    --Merriweather: 'Merriweather', serif;
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* banner styles  */
.banner{
    /* background-color: green; */
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('images/Banner\ Image.png');
    width: 90%;
    margin:0 auto;
    height: 600px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.banner .container h4{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 15px;
    font-family: var(--Merriweather);
}
.banner .container h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
    font-family: var(--Merriweather);
}

/* 65% OFF section styles */
.offer-section{
    width: 50%;
    margin: 0 auto;
}
.offer-section h1{
    color: #F00;
    text-align: center;
    font-family: var(--Inter);
    font-size: 88px;
    font-weight: 700;
    margin-top: 75px;
}
.offer-section h4{
    color: #F00;
    text-align: center;
    font-family:var(--Inter);
    font-size: 24px;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 15px;
}
.offer-section h2{
   color: #070211;
   text-align: center;
   font-family: var(--Inter);
   font-size: 48px;
   font-weight: 700;
   margin-bottom: 48px;
}
.offer-section img{
    width: 100%;
    height: auto;
    margin-bottom:75px;
}
/* midnight party styles */
.midnight-party{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('images/Vectorrr.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; 
    width: 90%;
    margin:0 auto;
    border-radius: 15px;
    padding: 75px;
    margin-bottom:75px;
}

.midnight-party .midnight-party-container h1{
    color: #FFF;
    font-family:var(--Merriweather);
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
}
.midnight-party .midnight-party-container p{
    color: rgba(255, 255, 255, 0.80);
    font-family: var(--Inter);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px; 
}
.midnight-party .midnight-party-container a{
    color:#FFF;
/* text-align: center; */
    font-family: var(--Inter);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 40px;
}
/* event section styles */
.event{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    width: 90%;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto; 

}
.event .event-container{
    text-align: center;   
}
.event .event-container h4{
    color: #F00;
    font-family:var(--Inter);
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}
.event .event-container span{
    color: #070211;
    font-family:var(--Inter);
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}
.event .event-container button{
    color: #FFF;
    text-align: center;
    font-family:var(--Inter);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    background: #F00;
    padding: 16px 32px;
    margin-top: 40px;
}
/* new best offer section styles  */
.new-best-offer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin:0 auto;
    background-color: #F00;
}
.new-best-offer .column1 h4{
    color: #F00;
    font-family:var(--Inter);
    font-size: 24px;
    font-weight: 500;
}
.new-best-offer .column1 h2{
    color: #070211;
    font-family: var(--Merriweather);
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}
.new-best-offer .column1 p{
    color: rgba(7, 2, 17, 0.60);
    font-family:var(--Inter);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    max-width:400px;
    margin-top:20px;
    width: 393px; 
}
.new-best-offer .column2{
    margin-left:15px;
    margin-right:15px;
}
.new-best-offer .column2 img{
    border: 10px solid #F00;
    border-radius:50%;
    padding:20px;
    
}
.new-best-offer .column3 h2{
    color: #F00;
    font-family:var(--Inter);
    font-size: 48px;
    font-weight: 700;
}
.new-best-offer .column3 p{
    color: rgba(7, 2, 17, 0.60);
    font-family:var(--Inter);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
}
.new-best-offer .column3 img{
    width: 140px;
    height: 140px;
}
/* Portfolio section styles */
.Portfolio-section {
    margin: 0 auto;
    width: 90%;
    margin-top:75px;
}
.Portfolio-section .portfolio h5{
    color: #F00;
    font-family:var(--Inter);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
.Portfolio-section .portfolio p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family:var(--Inter);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}
.Portfolio-section .portfolio h2{
    color: #070211;
    font-family:var(--Merriweather);
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.Portfolio-section .row .row1 ,
.Portfolio-section .row .row2{
    display: flex;
    justify-content: space-between;
     margin-top: 25px; 
    
}
.Portfolio-section .row .row1 img,
.Portfolio-section .row .row2 img{
    max-width: 350px;
    min-height: 350px;
    transition: opacity 0.2s ease-in-out;
    /* padding: 15px;  */
}
.Portfolio-section .row .row1 img:hover,
.Portfolio-section .row .row2 img:hover{
    opacity: 0.8;
}
/* Subscribe Newsletter section styles  */
.subscribe{
    border-radius: 16px;
    background:  rgba(255, 0, 0, 0.05);
    margin: 0 auto;
    width: 90%;
    margin-top:75px;
}
.subscribe .subscribe-container{
    justify-content: center; 
     align-items: center; 
     text-align: center;
}
.subscribe .subscribe-container img{
    max-width: 150px;
    max-height: 150px;
    margin-top: 50px;
}
.subscribe .subscribe-container h2{
    color: #070211;
    font-family:var(--Merriweather);
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}
.subscribe .subscribe-container p{
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: var(--Inter);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; 
}
/* News letter section style */
.newsletter{
    width: 90%;
    min-height: 616px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:75px;
}
.newsletter .letter-content .letter-content-img{
    display: flex;
    justify-content: center;
}

.newsletter .letter-content img{
    max-width: 150px;
    min-height: 150px; 
}

.newsletter .letter-content h2{
    color: #070211;
    text-align: center;
    font-family: var(--Merriweather);
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 40px;
}

.newsletter .letter-content p{
    max-width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family:var(--Inter);
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 48px;
}
.newsletter .letter-content .letter-form .form-input input{
    width: 648px;
    height: 72px;
    padding-left: 30px;
    border: none;
    outline: none;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}
.newsletter .letter-content .letter-form .form-input input::placeholder{
    color: rgba(7, 2, 17, 0.30);
    font-family: var(--Inter);
    font-size: 18px;
    font-weight: 400;
    
}
.newsletter .letter-content .form-input{
    display: flex;
}
.newsletter .letter-content .form-input button{
    width: 210px;
    height: 71px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: var(--Inter);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

}
/* footer section styles */
.footer{
    width: 90%;
    min-height: 600px;
    background: #070211;
    margin: 0px auto;
    margin-top: 75px;
    padding:100px 0px;

}
.footer .footer-content{
    width:90%;
    margin: 0 auto;

}
.footer .footer-content .address {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.footer .footer-content .address .location p{
    color: #FFF;
    font-family: var(--Inter);
    font-size: 24px;
    font-weight: 500;
}
.footer .footer-content .address .sevices .phone,
.footer .footer-content .address .sevices .site {
    display: flex;
    gap: 10px;
}
.footer .footer-content .address .sevices .phone img,
.footer .footer-content .address .sevices .site img {
    max-width: 24px;
    min-height: 24px;

}
.footer .footer-content .address .sevices .phone p,
.footer .footer-content .address .sevices .site p{
    color: #FFF;
    font-family: var(--Inter);
    font-size: 24px;
    font-weight: 500;
}

.footer .footer-content .line{
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
}

.footer .footer-content .social{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 48px 0px;
}

.footer .footer-content .social img{
    max-width: 64px;
    min-height: 64px;
}
.footer .footer-content .last-pera{
    display: flex;
    justify-content: space-between;
}
.footer .footer-content .last-pera p{
    color: #FFF;
    font-family: var(--Inter);
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}