:root {
    --Inter: 'Inter', sans-serif;
    --Merriweather: 'Merriweather', serif;
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* banner styles  */
.banner{
    /* background-color: green; */
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('images/Banner\ Image.png');
    width: 90%;
    margin:0 auto;
    height: 600px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container h4{
color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;
margin-bottom: 15px;
font-family: var(--Merriweather);
}
.container h1{
color: #FFF;
text-align: center;
font-size: 72px;
font-weight: 900;
line-height: 95px; 
font-family: var(--Merriweather);
}

/* 65% OFF section styles */
.offer-section{
    width: 50%;
    margin: 0 auto;
}
.offer-section h1{
color: #F00;
text-align: center;
font-family: var(--Inter);
font-size: 88px;
font-weight: 700;
}
.offer-section h4{
color: #F00;
text-align: center;
font-family:var(--Inter);
font-size: 24px;
font-weight: 500;
margin-top: 45px;
margin-bottom: 15px;
}
.offer-section h2{
color: #070211;
text-align: center;
font-family: var(--Inter);
font-size: 48px;
font-weight: 700;
margin-bottom: 48px;
}
.offer-section img{
    width: 100%;
    height: auto;
}
/* event section styles */
